$token--border-color: #eaeaea;

.token {
  padding-bottom: 2rem;
}

.token__image {
  display: inline-block;
  margin: 1rem 0 0 0;
  max-width: 300px;
  position: relative;
  transition: 0.6s;
}

.token__title {
  font-size: 4.5vmin;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.token__subtitle {
  font-size: 3.5vmin;
  letter-spacing: 1px;
}

.token__title_and_subtitle_ruler {
  background-image: linear-gradient(to right, #eee 33%, white 0%);
  background-position: bottom;
  background-size: 25px 5px;
  background-repeat: repeat-x;

  height: 5px;
}
