// 1. Import the initial variables
$primary: #00b1c2;

$pink: #e45a98;
$pink-two: #ff6aa8;

$family-primary: "Futura", sans-serif;

// 6. Import the rest of Bulma
@import '~bulma/bulma';

@import 'etherplate';
