html.has-navbar-fixed-top,
body.has-navbar-fixed-top {
  padding-top: 7.25rem;
}

.application-content {
  min-height: 350px;
}

.button.is-dark:hover,
.button.is-dark.is-hovered {
  background: #111;
  color: white;
}

.section {
  padding: 1rem 1.5rem;
}

.label {
  letter-spacing: 1px;
}

.input {
  letter-spacing: 1px;
}

.input, .textarea {
  border-radius: 0;
}

.textarea:not([rows]) {
  max-height: 600px;
  min-height: 70px;
}

.etherplate-form {
    background: #fcfcfc;
    align-items: stretch;
    display: flex;
    justify-content: center;
    position: relative;
}

.etherplate-form:not(:last-child) {
  margin-bottom: 1.5rem;
}

.etherplate-form--wrapper {
  padding: 2rem 0;
  width: 90%;
}

.table__wrapper {
  overflow-x: auto;
}

.title,
.content .title {
  line-height: 2;
}

.subtitle,
.content .subtitle {
  line-height: 1.5;
}

.hero.is-dark .subtitle {
  color: #888;
}

.etherplate-description {
  margin: 4rem 0;
}

.title,
.content .title {
  line-height: 1.5;
}

.title a {
  color: #363636;
}

.is-circular {
  border-radius: 50%;
}
