// Add any bulma variables or your own variables here,
// webpack includes this in every scss file
$info: #09ade0;
$primary: #00b1c2;
$pink: #e45a98;
$danger: #fb2d04;
$warning: #f76526;

$family-primary: "Futura", "futura pt", "Helvetica", "Helvetica Neue", Arial, sans-serif;
