.navbar > .container {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  @media screen and (max-width: 720px) {
    padding-bottom: 0rem;
    padding-top: 0.5rem;
  }
}

.navbar-item {
  font-size: 16px;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0.5rem 0;
}

.navbar-item img {
  max-height: 3rem;
}

.navbar-item a {
  background: transparent;
  color: #ccc;
}

.navbar-item a:hover,
.navbar-item a.is-active,
.navbar-link a:hover,
.navbar-link a.is-active {
  background: transparent;
  color: white;
}

.navbar-menu {
  @media screen and (max-width: 1087px) {
    background-color: #333;
  }
}

.navbar-burger {
  color: white;
  margin-top: 0.5rem;
}

.navbar-burger:hover {
  color: #ddd;
}

.navbar > .container .navbar-brand,
.container > .navbar .navbar-brand {
  @media screen and (min-width: 1024px) {
    margin-left: -1rem;
  }
}

.navbar-brand img {
  @media all and (max-device-width: 720px) {
    max-width: 240px;
  }
}

// Figure out how to combat the load order issue by having this here instead
// in site-header.scss
.navbar.is-dark .navbar-start > a.navbar-item:hover,
.navbar.is-dark .navbar-start > a.navbar-item.is-active,
.navbar.is-dark .navbar-start .navbar-link:hover,
.navbar.is-dark .navbar-start .navbar-link.is-active,
.navbar.is-dark .navbar-end > a.navbar-item:hover,
.navbar.is-dark .navbar-end > a.navbar-item.is-active,
.navbar.is-dark .navbar-end .navbar-link:hover,
.navbar.is-dark .navbar-end .navbar-link.is-active {
  background: transparent;
  color: $pink;
}

.navbar-item .address__short {
  color: white;
}
